
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    height: 100vh;

}

.card-img img {
    width: 275px;
    height: 505px;
    
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    width: 580px;
    overflow: hidden;
}
.card-content {
    padding: 20px;
}
.card-content > p:first-of-type {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(240, 6%, 50%);
    font-size: 14px;
}
.card-content > p:last-of-type {
    font-size: 17px;
    color: hsl(240, 6%, 50%);
    line-height: 25px;
}
.card-content h2 {
    font-size: 40px;
    line-height: 35px;
    font-family: 'Fraunces';
}
.price{
    position: relative;
}
.price > span:first-of-type {
    font-family: 'Fraunces';
    font-size: 30px;
    color: hsl(158, 36%, 37%);
}
.price > span:last-of-type{
    position: absolute;
    top: 7px;
    margin-left: 10px;
    font-size: 14px;
    color: hsl(240, 6%, 50%);

}
.btn{
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.btn img{
    margin-right: 10px;
    height: 15px;
}

/* For tablet and desktop */
@media (max-width: 768px) {
    .card{
        flex-direction: column;
        height: 600px;
        width: 300px;
    }
    .card-img img {
        width: 300px;
        height: 287px;
    }
    .card-content {
        padding: 10px;
    }
    .card-content > p:first-of-type {
        font-size: 12px;
        margin: 5px;
    }
    .card-content > p:last-of-type {
        font-size: 14px;
    }
    .card-content h2 {
        font-size: 30px;
        margin: 0;
    }
    .btn{
        font-size: 12px;
        margin-bottom: 20px;
    }  
}
